{% extends 'base.html.twig' %}

{% block title %}Bibliotech {% endblock %}
   
   
 {% block stylesheets %}  
   
    {{  parent() }}
    <style>
ul{
    list-style-type:none;
    border:1px solid gray;
    padding :16px;
    box-shadow : 0 0 10px black;
    border-radius:10px
    
}
    </style>
{% endblock %}
{% block body %}

                    <h1>Livre(s) avec un stock suppérieur à {{ taille }} </h1>


                    {% if books|length > 0 %}
                        <h2>Nombre de livre disponible {{ books|length }}</h2>

                                  <h2> Liste des livre(s) </h2>

                                  
                                        {% for book in books %}
                                            <ul>
                                                    <li> {{book.title}} </li>
                                                    <li> {{book.stock}} </li>
                                            </ul>
                                        {% endfor %}


                     {% else %}
                        <p> pas de livre disponible </p>   
                    {% endif %}    

{% endblock %}