{% extends 'base.html.twig' %}

{% block title %}Bibliotech — Nos livres{% endblock %}

{% block stylesheets %}
 {{ parent() }}
 <style>
     h1 { color: #7d9ab8; }
        .book-list { list-style: none; padding: 0; }
</style>
{% endblock %}

{% block body %}
<div style="max-width: 800px; margin: 50px auto; font-family: sans-serif;">
    <h1>📚 Nos livres</h1>
    <p>Nombre de livres : {{ books|length }}</p>

{% set disponible = 0 %}

        {% if books|length > 0 %}
                {% for book in books %}

                        {% if book.dispo == "oui" %}
                                {% set disponible = disponible + 1 %}                                
                        {% endif %}
                {% endfor  %}
        {% else %} 
                <p> Livre indisponible </p>       
        {% endif %}

    <ul style="list-style-type:none">

<p> {{ disponible }} Livre(s) disponible sur {{ books|length }} </p>

        {% for book in books %}
                {{  include ('_partials/_book_card.html.twig',{book: book , index: loop.index} ) }}
        {% endfor %}
    </ul>
</div>
{% endblock %}