{# {% extends 'base.html.twig' %}

{% block title %}Bibliotech — Nos livres{% endblock %}

{% block stylesheets %}
 {{ parent() }}
 <style>
     h1 { color: #7d9ab8; }
        .book-list { list-style: none; padding: 0; }
</style>
{% endblock %}

{% block body %}
<div style="max-width: 800px; margin: 50px auto; font-family: sans-serif;">
    <h1>📚 Nos livres</h1>
    <p>Nombre de livre(s) : {{ books|length } disponible(s)}</p>

{% set disponible = 0 %}

        {% if books|length > 0 %}
                {% for book in books %}

                        {% if book.dispo == "oui" %}
                                {% set disponible = disponible + 1 %}                                
                        {% endif %}
                {% endfor  %}
        {% else %} 
                <p> Livre indisponible </p>       
        {% endif %}

    <ul style="list-style-type:none">

<p> {{ disponible }} Livre(s) disponible sur {{ books|length }} </p>

        {% for book in books %}
                {{  include ('_partials/_book_card.html.twig',{book: book , index: loop.index} ) }}
        {% endfor %}
    </ul>
</div>
{% endblock %} #}



{# """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" #}

{# 
{%  extends 'base.html.twig' %}
{% block title %}Bibliotech  {% endblock %}


{% block body %}

                <h1> livre(s) disponible {{ books|length }}</h1>


                <ul>
                        {% for book in books %}
                        <li>
                         <a href="{{ path('app_book_show',{id: book.id}) }}">{{ book.title}}</a><strong>------- {{ book.author.firstname}}</strong><strong>{{book.author.lastname}}</strong> <strong> Stock : {{book.stock}}</sctrong>       
                        </li>

                        {% else %}
                                <p> pas de livre disponible </p>
                        {% endfor %}

                </ul>


{% endblock %} #}


{% extends 'base.html.twig' %}
{% block title %}Bibliotech {% endblock %}

{% block body %}
                           <h1> nous avons trouver {{books|length }} et nous avons {{ categories|length}} categorie(s) </h1> 

                                <h2 style="background-color:gray;padding:6px ">les catégories</h2>

                                                {% for categorie in categories %}

                                                          <p style="text-decoration:underline ;font-weight:bold ;font-style:italic">  {{categorie.name}} </p>      
                                                {% else %}
                                                <p> rien </p>

                                                {% endfor %}

{# ----------------------------------------------------------------------------------------------------------------------------- #}
                                           
                                               {% for livre in books %} 
                                                        <ul style="list-style-type:none;border:1px solid gray;margin-bottom:5px;box-shadow:0 0 6px black;padding:20px;border-radius:10px">  
                                                                <li>
                                                                <span> Titre du livre</span> <strong>{{livre.title}}</strong>     
                                                                </li> 
                                                                <li>
                                                                <span> Auteur</span>  <strong>{{livre.author.firstname}}</strong> <strong>{{livre.author.lastname}}</strong>    
                                                                </li>
                                                                <li>
                                                                <span>Stock</span> <strong>{{livre.stock}}</sttrong>
                                                                </li>
                                                                <li>       
                                                                <a href="{{ path('app_book_show',{id: livre.id}) }}">voire le détail du livre </a>
                                                                </li> </ul>
                                                        {% else %}
                                                        <p> pas de livre pour le moment </p>
                                                       
                                               {% endfor %}
                                      
{# ----------------------------------------------------------------------------------------------------------------------------- #}


{% endblock %}



