{% extends 'base.html.twig' %}

{% block title %} Bibliotech {% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}

            <div style="max-width:800px;margin:50px auto; border:1px solid gray;padding :2em;border-radius:10px ;box-shadow:0 0 12px gray">

                    <h1> {{ book.title}} </h1>
                    <p> <strong> Auteur </strong> {{ book.author.firstname}} | {{book.author.lastname}} </p>
                    <p> <strong> Description </strong> {{ book.description}} </p>
                    <p> <strong> ID du livre </strong> {{ book.id}} </p>
                    <p> <strong> Stock </strong> {{ book.stock }} </p>
                                {% for categorie in book.categories %}
                                        <p><strong> Categorie </strong>  {{ categorie.name }} </p> 
                                {% endfor %}
                    <a href=" {{ path('app_book_index') }}"> retour a la liste </a>|
                    <a href=" {{ path('app_book_edit',{id: book.id}) }}"> modifier ce livre </a>

            </div>
            <div>
                        <form method="POST" action="{{ path('app_book_delete',{id: book.id}) }}"  onsubmit="return confirm('Es-tu sur de vouloir supprimer {{ book.title}}')">

                             <input type="hidden" name="_token" value="{{ csrf_token('delete-book-'~ book.id)}}">       
                             <button type='submit'>Supprimer</button>                    

                        </form>

            </div>    


{% endblock %}